@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~leaflet2/dist/leaflet.css';
@import '~leaflet-draw/dist/leaflet.draw.css';
@import '~leaflet-extra-markers/dist/css/leaflet.extra-markers.min.css';

.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
	-webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
	-moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
	-o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
	transition: transform 0.3s ease-out, opacity 0.3s ease-in;
}

.leaflet-cluster-spider-leg {
	/* stroke-dashoffset (duration and function) should match with leaflet-marker-icon transform in order to track it exactly */
	-webkit-transition: -webkit-stroke-dashoffset 0.3s ease-out, -webkit-stroke-opacity 0.3s ease-in;
	-moz-transition: -moz-stroke-dashoffset 0.3s ease-out, -moz-stroke-opacity 0.3s ease-in;
	-o-transition: -o-stroke-dashoffset 0.3s ease-out, -o-stroke-opacity 0.3s ease-in;
	transition: stroke-dashoffset 0.3s ease-out, stroke-opacity 0.3s ease-in;
}

.marker-cluster-small {
	background-color: rgba(181, 226, 140, 0.6);
	}
.marker-cluster-small div {
	background-color: rgba(110, 204, 57, 0.6);
	}

.marker-cluster-medium {
	background-color: rgba(241, 211, 87, 0.6);
	}
.marker-cluster-medium div {
	background-color: rgba(240, 194, 12, 0.6);
	}

.marker-cluster-large {
	background-color: rgba(253, 156, 115, 0.6);
	}
.marker-cluster-large div {
	background-color: rgba(241, 128, 23, 0.6);
	}

	/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
	background-color: rgb(181, 226, 140);
	}
.leaflet-oldie .marker-cluster-small div {
	background-color: rgb(110, 204, 57);
	}

.leaflet-oldie .marker-cluster-medium {
	background-color: rgb(241, 211, 87);
	}
.leaflet-oldie .marker-cluster-medium div {
	background-color: rgb(240, 194, 12);
	}

.leaflet-oldie .marker-cluster-large {
	background-color: rgb(253, 156, 115);
	}
.leaflet-oldie .marker-cluster-large div {
	background-color: rgb(241, 128, 23);
}

.marker-cluster {
    background-clip: padding-box;
    border-radius: 20px;
    }
.marker-cluster div {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;
  
    text-align: center;
    border-radius: 15px;
    font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
    }
.marker-cluster span {
    line-height: 30px;
  }

  .lt-popup {
    max-width: auto;
  }
  
  .lt-popup .leaflet-popup-content-wrapper .leaflet-popup-content {
    display: flex;
    flex-direction: column;
  }
  
  .lt-popup .leaflet-popup-content-wrapper {
    border-radius: 10px;
    background: #3c3ce494;
  }
  
  .lt-popup .leaflet-popup-tip {
    border-radius: 0px !important;
    background: #3c3ce494;
  }
  
  .lt-popup-row {
    display: inline-flex;
    flex-direction: row;
    /*   margin-bottom: 5px; */
    align-items: center;
  }
  
  .lt-popup-row label {
    margin-bottom: 0px;
    margin-right: 5px;
    /* flex: 1; */
    width: 50px;
    color: #fff
  }
  
  .lt-popup-row div {
    /* flex: 2; */
    /* flex: none; */
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .lt-actions-row {
    display: flex;
    flex-direction: row-reverse;
    padding: 5px;
  }
  
  .ng-select.am-select {
    border: 0px;
    min-height: 0px;
    border-radius: 0;
}

.ng-select.am-select .ng-select-container {
    min-height: 32px;
    border-radius: 0;
}

.ng-select.ng-select-single.am-select .ng-select-container {
    min-height: 32px;
    height: 32px;
    border-radius: 0px;
}

.pull-right {
    text-align: right;
}

.pt-5 {
    padding-top: 5px;
}
  
  
  /* Location tracking css end */
  
  .extra-marker i.fa-rt {
    margin-top: -39px !important;
    display: block;
    margin-left: -2px !important;
    width: 35px;
    text-align:center;
  }
  
  .leaflet-top,
  .leaflet-bottom {
    z-index: 1000 !important
  }
  
  .leaflet-popup {
    margin-bottom: 20px !important;
  }
  
  /* 
  .leaflet-popup-tip-container {
    left: 0 !important;
  } */
  
  .leaflet-control-container .leaflet-routing-container-hide {
    display: none !important;
  }
  
/* component specific style */

.route-tracker-root {
  height: 100%;
  width: 100%;
  padding-left: 10px;
  padding-bottom: 10px;
}

.route-tracker-header-bar {
  display: flex;
  padding: 5px;
}

.route-tracker-header {
  margin-left: auto;
}


 